html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
    background-color: grey;
}
body {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('http://mollyirwin.typepad.com/.a/6a00d8349eed6669e20133f413a22f970b-pi');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: white;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
}
div.container {
    display: block;
    position: relative;
    width: 300px;
    top: 35%;
    left: 50%;
    transform: translateY(-35%);
    transform: translateX(-50%);
    text-align: center;
}
input#zipcode {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: none;
    border-bottom: 1.3px solid white;
    background-color: rgba(0,0,0,0);
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: white;
    width: 180px;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
}
input#zipcode:focus {
    outline: none;
}
button#submit {
    width: 125px;
    height: 30px;
    border: 1.3px solid white;
    background-color: rgba(0,0,0,0);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}
button#submit:hover {
    background-color: rgba(255,255,255,0.2);
}
button#submit:focus {
    outline: none;
}
#report {
    color: white;
    font-style: normal;
}
#reporttext {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
#wxconditions {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

#hint {
    opacity: 0.5;
    transition-duration: 0.3s;
}
#hint:hover {
    cursor: pointer;
    opacity: 1;
    transition-duration: 0.3s;
}
#usebing{
    vertical-align: text-top;
}
label {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 13px;
}